@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
}
